MONGODB_URI=mongodb+srv://usingm32_db_user:<db_password>@cluster0.lnxxh1e.mongodb.net/?appName=Cluster0
PORT=5000
NODE_ENV=development
MONGODB_DB=challenge_portal
FACULTY_USERNAME=faculty
FACULTY_PASSWORD=change-this-to-a-strong-password
